pyrogram
requests
wget
asyncio
datetime
aiofiles
youtube_dl
aiohttp
yt_dlp
opencc
telegraph
youtube_search
pytube
Python_ARQ
TgCrypto
motor
pymongo
aiofiles
dnspython
python-dotenv
psutil
heroku3
PyAlpha
